/* Page-specific styling */

html {
    position: relative;
    min-height: 100%;
}
body {
    height: 500px;
    width: 100%;
    margin: 0 0 40px; /* bottom = footer height */
    overflow-y: scroll;
    display: none;
}

.padding {
    padding: 0 10px 10px 10px;
}

#notification-popup.ms-MessageBanner {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: left;
    height: inherit;
    min-width: inherit;
}

#notification-popup .ms-MessageBanner-text {
    margin: 0;
    padding: 18px 15px;
    min-width: inherit;
}

.hiddenMenu {
    display: none;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    width: 208px !important;
    min-height: 50px;
    border: 1px solid #5e5e5e;
}

.vegleges-futtato-gomb {
    background-color: #ff6352;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 15px;
    height: 40px;
    width: 130px;
    cursor: pointer;
}

.vegleges-futtato-gomb:hover {
    background-color: red;
}

.mainTitle {
    text-align: center;
}

.startButton { color: cornsilk; }

.myErrorMessage {
    display: none;
    color: red;
}

.nfx-logo { 
    margin-top: 15px;
    height: 100px;
    width: 96px;
}

.meter_group_list {
    width: 180px;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.ownDatePicker {
    margin-top: 5px;
    width: 100px;
}

#template-description {margin-right: 5px;}


.align-center{
    margin: auto;
    text-align: center;
    align-content: center;
}

.requestErrorText {
    font-weight: 600;
    font-size: 16px;
    color: #4f4f4f;
    margin-bottom: 10px;
}


.button-container {
    height: auto;
    width: 230px;
    background-color: #669A2F;
    margin-top:10px;
}

.button-container:hover {
    background-color: #78B62E;
    cursor: pointer;
}

.menuOpenImgContainer {
    display: inline-block;
    height: 36px;
    width: 36px;
    position: absolute;
}

.menuOpenTextContainer {
    display: inline-block;
    height: auto;
    width: 180px;
    min-height: 20px;
    position: relative;
    left: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: arial;
    font-size: 13.3px;
    padding: 8px 5px 8px 5px;
}

.menuOpenImg {
    height: 16px;
    width: 16px;
    margin-top:8px;
    margin-left:15px;
}

.newLogOutButton {
    border: none;
    background-color: #669a2f;
    color: white;
    text-align: center;
    text-decoration: none;
    /*padding: 2px 5px 2px 5px;*/
    /*margin-top: 5px;
    margin-left: 10px;*/
    height: 25px;
    width: 120px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.newLogOutButton:hover {
    background-color: #78B62E;
}

.mb15{margin-bottom:25px !important;}

.panel-explain-text {
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}
